@import "abstracts/variables.css";
@import "base/base.css";
@import "base/typography.css";
@import "base/utilities.css";
@import "components/navigation.css";
@import "components/buttons.css";
@import "components/card.css";
@import "components/swatches.css";
@import "layout/sections/section-arrivals.css";
@import "layout/sections/section-collection.css";
@import "layout/sections/section-mission.css";
@import "layout/sections/section-seasonal.css";
@import "layout/sections/section-parfumes.css";
@import "layout/sections/section-edition.css";
@import "layout/sections/section-favourites.css";
@import "layout/sections/section-blog.css";
@import "layout/header.css";
@import "layout/footer.css";
@import "pages/home.css";
@import "pages/cart.css";
@import "pages/plp.css";
@import "pages/pdp.css";