.header-pdp{
    margin-top: -3rem;
display: grid;
grid-template-columns: 52vw 43vw;
padding: 0 3rem;
height: 105vh;

}
.header-pdp__gallery{
grid-column: 1/2;
width: 100%;
height: 100%;
}
.header-pdp__product-info{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 5rem;
}
.product__name--pdp{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    
}

.product__design{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    
}

.product__price--pdp{
align-self: flex-start;
}
.product__discount{
display: flex;
flex-direction: column;
gap: 1rem;
font-size: 14px;
font-weight: 300;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}
.product__discount a{
    font-weight: 700;
    color: black;
}
.pdp-checkbox-label{

}

.select__link{
   
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
border-bottom: solid 1px black;

 margin-right: 3rem;
 align-self: flex-end;
    color: black;

}
.color-swatch-box{
    margin-top: 3rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    
}
.btn--bag{
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-color:var(--color--tertiary--dark) ;
    padding: 1rem;
    width: 90%;
    
}







/* -------- PDP HEADER CAROUSEL ---------------- */
.swiper--pdp {
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper{

  }
  .swiper-slide--pdp {
    height: 100% !important;
    text-align: center;
    font-size: 18px;
    /* background: red; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


  .swiper-button-next,.swiper-button-prev{
    display: none;
  }
.gallery__img-box{
    width: 100%;
    height: 100%;
}
.gallery__img-box img{
    object-fit: contain;
}

  @media (max-width:800px) {
    .swiper-button-next,.swiper-button-prev{
        /* display: initial; */
      }
  }