.arrivals{
height: 75vh;
display: grid;
grid-template-columns: max-content 1fr;
padding: 1.5rem;
gap: 2rem;
align-items: center;
}
.arrivals__banner{
    height: 100%;
display: flex;
flex-direction: column;
align-items: center;
/* justify-content: center; */
gap: 1rem;
padding: 5rem 2rem;
border:solid 1px black ;
}
.sub-title--arrivals{

}
.title--arrivals{
    text-align: start;
    text-align: center;
}
.arrivals__description{
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 90%;
text-align: center;
    
}
.cta--arrivals{
margin-top: auto;
}

/* -------------- ARRIVALS CAROUSEL ------------- */
.arrivals__carousel{
height: 100%;


}
.arrivals__slide{
    width: 30%;
    height: 100%;
    margin-right: 5rem;

}
@media (max-width:1150px) {
    .arrivals__slide{
        width: 45%;
    }
}
@media (max-width:900px) {
    .arrivals__slide{
        width: 55%;
    }
}
@media (max-width:750px) {
    .arrivals{
        grid-template-columns: repeat(2,1fr);
    }
    .arrivals__slide{
        width: 100%;
    }
    .arrivals__banner{
        padding: 5rem 1rem;
    }
  
}
@media (max-width:600px) {
    .arrivals{
        height: 45vh;
    }
    .arrivals__banner{
        padding: 1rem;
    }
    .cta--arrivals{
margin-top: 1rem;
    }
    .title--arrivals{
       
        font-size: 27px;
        
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        
            }
            .sub-title--arrivals{
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        
            }
}